* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p, span, h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
  vertical-align: middle;
  color: #3e3e3e;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.container {
  max-width: 50vw;
}